<a href="https://colab.research.google.com/github/kimheeyoung1/bdna/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([7, 3, 5, 8])

In [ ]:
a = pd.Series([7, 3, 5, 8])

In [ ]:
x = pd.Series([7, 3, 5, 8], index=['A', 'B', 'C', 'D'])
print(x)

A    7
B    3
C    5
D    8
dtype: int64

In [ ]:
x[['A','B']]

A    7
B    3
dtype: int64

In [ ]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
x.values

array([7, 3, 5, 8])

In [ ]:
print(sorted(x.index))

['A', 'B', 'C', 'D']

In [ ]:
print(sorted(x.values))

[3, 5, 7, 8]

In [ ]:
x=pd.Series([7,3,5,8], index=['dog','cat','pandas','turtle'])

In [ ]:
sorted(x.index)

['cat', 'dog', 'pandas', 'turtle']

In [ ]:
x.reindex(sorted(x.index))

cat       3
dog       7
pandas    5
turtle    8
dtype: int64

In [ ]:
x=pd.Series([7,3,5,8], index=['dog','cat','pandas','turtle'])
y=pd.Series([2,4,5,1], index=['cat','pandas','dog','penguin'])

x+y

cat         5.0
dog        12.0
pandas      9.0
penguin     NaN
turtle      NaN
dtype: float64

In [ ]:
val=[1,3,2,4,2,3]
x=pd.Series(val)
pd.unique(x)

array([1, 3, 2, 4])

In [ ]:
age={'민준':23,'현우':43,'서연':12,'동헌':45}

In [ ]:
pdate = pd.Series(age)

In [ ]:
pdate

민준    23
현우    43
서연    12
동헌    45
dtype: int64

In [4]:
import pandas as pd

In [5]:
names = ['민준','서연','현우','민서','동현','수빈']
pdate = pd.Series(names)
pdate

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [6]:
a=pdate[3:6]
print(a)

3    민서
4    동현
5    수빈
dtype: object

In [13]:
import pandas as pd

In [14]:
date={'age':[23,43,12,45],'name':['민준','현우','서연','동현'],'height':[175.3,180.3,165.8,172.7]}
x = pd.DateFrame(date,columns=['name','age','height'])
x

AttributeError: ignored

In [11]:
x.name

NameError: ignored

In [12]:
ary=[[1,2],[3,4],[5,6]]
date=pd.DateFrame(ary)
date

AttributeError: ignored

In [ ]:
ary=[[1,2],[3,4],[5,6]]
date=pd.DateFrame(ary,columns=['First','Second'])
date

NameError: ignored

In [ ]:
ary=[[1,2],[3,4],[5,6]]
date=pd.DateFrame(ary,columns=['First','Second'])
date

NameError: ignored

In [ ]:
date.iloc[:,1]

AttributeError: ignored

In [ ]:
date.head(3)

AttributeError: ignored

In [ ]:
date.tail(3)

AttributeError: ignored

In [ ]:
bools=[False,True,True,False,True]
date[bools]

TypeError: ignored

In [ ]:
bools=[False,True,True,False,True]
date.Second[bools]

AttributeError: ignored

In [ ]:
date={'age':[23,43,12,45],'name':['민준','현우','서연','동현'],'height':[175.3,180.3,165.8,172.7]}
x = pd.DateFrame(date,columns=['name','age','height'])
x

NameError: ignored

In [ ]:
x.mean(axis=0)

NameError: ignored

In [ ]:
x.mean(axis=1)

NameError: ignored

In [ ]:
ary=[[1,2],[3,4],[5,6],[7,8],[9,10]]
date=pd.DateFrame(ary,columns=['First','Second'])
date

NameError: ignored

In [ ]:
date['First']=date['First'].astype('float')
date

KeyError: ignored